In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('public/data/scrubbed.csv')
data = data[data['country'] == 'us']
state_abbreviations = {
    'al': 'Alabama', 'ak': 'Alaska', 'az': 'Arizona', 'ar': 'Arkansas', 'ca': 'California',
    'co': 'Colorado', 'ct': 'Connecticut', 'de': 'Delaware', 'fl': 'Florida', 'ga': 'Georgia',
    'hi': 'Hawaii', 'id': 'Idaho', 'il': 'Illinois', 'in': 'Indiana', 'ia': 'Iowa', 'ks': 'Kansas',
    'ky': 'Kentucky', 'la': 'Louisiana', 'me': 'Maine', 'md': 'Maryland', 'ma': 'Massachusetts',
    'mi': 'Michigan', 'mn': 'Minnesota', 'ms': 'Mississippi', 'mo': 'Missouri', 'mt': 'Montana',
    'ne': 'Nebraska', 'nv': 'Nevada', 'nh': 'New Hampshire', 'nj': 'New Jersey', 'nm': 'New Mexico',
    'ny': 'New York', 'nc': 'North Carolina', 'nd': 'North Dakota', 'oh': 'Ohio', 'ok': 'Oklahoma',
    'or': 'Oregon', 'pa': 'Pennsylvania', 'ri': 'Rhode Island', 'sc': 'South Carolina',
    'sd': 'South Dakota', 'tn': 'Tennessee', 'tx': 'Texas', 'ut': 'Utah', 'vt': 'Vermont',
    'va': 'Virginia', 'wa': 'Washington', 'wv': 'West Virginia', 'wi': 'Wisconsin', 'wy': 'Wyoming',
    # Add other US territories if needed
}

data['state'] = data['state'].map(state_abbreviations)
data = data.dropna(subset=['state'])

data = data.reset_index(drop=True)
data.head()

/var/folders/pc/2xld5z6x12gfdyv2tkjy9vdr0000gn/T/ipykernel_7264/2083512355.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('public/data/scrubbed.csv')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/49 20:30,san marcos,Texas,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/04,29.8830556,-97.941111
1,10/10/56 21:00,edna,Texas,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/04,28.9783333,-96.645833
2,10/10/60 20:00,kaneohe,Hawaii,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/04,21.4180556,-157.803611
3,10/10/61 19:00,bristol,Tennessee,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/07,36.595,-82.188889
4,10/10/65 23:45,norwalk,Connecticut,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/99,41.1175,-73.408333

In [17]:
locations = data[['latitude', 'longitude ']]
locations.columns = ['latitude', 'longitude']
locations = locations.astype('float')
locations.to_csv('public/data/locations.csv', index=False)